/* used chat GPT for some styling here */

@font-face {
  font-family: tombOfTheUnknownFont;
  src: url("tombOfTheUnknownFont.ttf");
}

body {
  font-size: 62.5%;
  font-family: tombOfTheUnknownFont;
}

/* Set background color for the entire page */
body {
  background-color: #f2f2f2;
}

/* Style the container */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Style the header */
.page-header {
  margin-bottom: 40px;
}

.page-header h1 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 10px;
}

.page-header a {
  margin-top: 5px;
}

/* Style the frog names list */
.names {
  list-style: none;
  padding-left: 0;
}

.names li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.names li img {
  height: 80px;
  width: 80px;
  margin-right: 15px;
  border-radius: 10px;
  background-size: cover;
}

.names li span {
  font-size: 1.5rem;
  margin-right: 10px;
}

/* Style the "Add a name" section */
/* form {
  display: flex;
  margin-bottom: 20px;
} */

form input[type="text"] {
  /* flex: 1; */
  padding: 10px;
  font-size: 1.125rem;
}

form button[type="submit"] {
  padding: 10px 20px;
  background-color: #0069d9;
  color: #fff;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

/* Style the "Guess" button */
.guessFrogNameBtn {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.fa-trash {
  margin-left: 10px;
  color: #666;
  cursor: pointer;
}
.fa-trash:hover {
  color: #0069d9;
}

.btn-default {
  background-color: #333;
  color: #fff;
  font-size: 1.25rem;
}
.btn-default:hover {
  background-color: #666;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.list-group {
  margin-bottom: 20px;
}

.list-group-item {
  padding: 10px 15px;
  border: none;
  border-radius: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #555;
  background-color: #f8f9fa;
}

.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.list-group-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.list-group-item.active {
  background-color: #007bff;
  color: #fff;
}

.list-group-item.active:hover {
  background-color: #007bff;
  color: #fff;
}

.list-group-item:hover {
  background-color: #e9ecef;
  color: #333;
}
